ul{
    list-style-type: none;
    display: flex;
}
li{
    padding: 10px 15px;
    margin: 0 5px;
    background: #81dbb3;
    border-radius: 15px;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
}