<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('index') }}"> Index </a></li>
        <li><a href="{{ url_for('profileRoute', count=39) }}"> Profile </a></li>
        <li><a href="{{ url_for('queryStringRoute', qryInt=2556) }}"> Query String </a></li>
        <li><a href="{{ url_for('countQuery', count=71, qryStr=8443) }}"> Count & Query </a></li>
    </ul>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>